<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.publish.haoffice"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:name=".application.SysApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:theme="@style/AppSplash"
                  android:name=".app.SplashActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".app.MainActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.LoginActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.SettingActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.AboutActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.TestActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".app.AdminActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.Repair.SearchActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.Repair.RepairLookListActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.Repair.RepairDetailActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.Repair.RepairHadlerDetailActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.Repair.RepairMainActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan|stateHidden"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".app.Repair.ToRepairListActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.Repair.ToRepairDetailActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.Repair.ToRepairInputActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.Repair.ToRepairLookListActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.Repair.ToRepairHanderDetailActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.Repair.SearchResultActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".app.office.OfficeMainActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.office.DocDetailActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.office.OfficDetailActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.office.NoticeDetailActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.office.OfficSignActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.office.SelectUserActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.office.OfficSignBackActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.office.AddUserActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.office.NoticeSignActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.office.DocSignActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.office.DocAddUserActivity"
                  android:screenOrientation="portrait"/>
    </application>

</manifest>